:root {
    --first: #E1F0DA;
    --second: #D4E7C5;
    --third: #BFD8AF;
    --fourth: #99BC85;
    --black: #575353;
}

header {
    height: 40px;
    background: var(--fourth);
    position: fixed;
    margin: 0px;
    padding: 0;
    width: 100%;
    color: white;
    padding: 7px 20px;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

main {
    padding: 20px;
    padding-top: 50px
}

* {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

nav {
    display: inline-block;
    float: right;
}

nav a {
    color: inherit;
    text-decoration: none;
    border-bottom: none;
    margin-right: 10px;
    background: var(--second);
    border-radius: 5px;
    padding: 2px 8px;
    margin-top: -5px;
    color: var(--black)
}

tr.positive {
    background: rgb(201 230 197);
}

tr {
    background-color: #ddebdc;
    padding: 10px;
    margin: 87px;
    border-radius: 20px;
}

tr.annotated {
    background: var(--second)
}

tr.predicted {
    background-color: var(--third);
}

.account {
    border-radius: 10px;
    border: 3px solid var(--first);
    display: inline-block;
    padding: 4px 8px;
    margin: 1;
    cursor: pointer;
    margin: 10px 4px;
}

.selected {
    background-color: var(--third);
}

input,
select,
button {
    border: 2px solid var(--first);
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 12px;
}

input:focus,
select:focus,
button:focus {
    border: 2px solid var(--fourth);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: -10px;
    /* correct offset on first border spacing if desired */
    font-size: 12px;
    ;
}

td {
    padding: 2px 18px;
}

td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.tip {
    margin: 10px auto;
    border-radius: 10px;
    background-color: var(--first);
    width:600px;
    padding:10px 20px;
    text-align: center;
}
#hero {
    margin: 25vh auto 50px;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    color: var(--fourth);
}
#login, #bunq {
    margin: 100px auto;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    box-sizing: border-box;
    width: 250px;
    margin-left: calc(50% - 125px);
    display: none;
}
#load-container{
    height: 20px;;
    width: 100%;;
    margin:0;
    position: absolute;
    padding:0;
    left:0;
    top:20vh;
}